body,
html {
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 768px) {
    .angular-google-map-container {
        height: 500px;
    }
    .search-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 42px 1px rgba(13, 19, 59, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 30%;
        margin-left: 100px;
        margin-top: 30px;
    }
    .download-div{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .angular-google-map-container {
        height: 220px;
    }
    .search-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 42px 1px rgba(13, 19, 59, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 35%;
        margin-left: 10px;
        margin-top: 30px;
    }
}

.search-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.need-city {
    background-color: rgb(255, 241, 208);
}
.has-city {
    background-color: rgb(208, 255, 255);
}
.step-1 {
    height: 30%;
    vertical-align: middle;
    text-align: center;
}
.step-1 p {
    color: rgb(240, 200, 8);
    font-size: 2em;
}
.choose-text {
    text-transform: uppercase;
    margin-top: 70px;
}
.data-grid {
    margin-top: 30px;
}
.submit-grid {
    margin-top: 46px;
}
