<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome-animation.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- lib:dependencies -->
    <script src='//maps.googleapis.com/maps/api/js?libraries=places'></script>
    <script src="lib/lodash.js" type="application/javascript"></script>
    <script src="lib/jquery-2.1.4.min.js" type="application/javascript"></script>
    <script src="lib/bootstrap.min.js" type="application/javascript"></script>

    <!-- lib:Angular -->
    <script src="lib/angular/angular.js" type="application/javascript"></script>
    <script src="lib/angular/angular-cookies.js" type="application/javascript"></script>
    <script src="lib/angular/simple-logger/angular-simple-logger.js" type="application/javascript"></script>
    <script src="lib/angular/google-maps/angular-google-maps.js" type="application/javascript"></script>
    <script src="lib/ui-bootstrap-tpls-1.1.2.min.js" type="application/javascript"></script>

    <!-- app:Weather -->
    <script src="app/module.js" type="application/javascript"></script>
    <script src="app/controllers/main-controller.js" type="application/javascript"></script>
    <script src="app/controllers/confirm-controller.js" type="application/javascript"></script>
    <script src="app/services/alert-resolver-service.js" type="application/javascript"></script>
    <script src="app/services/alert-service.js" type="application/javascript"></script>
    <script src="app/services/map-service.js" type="application/javascript"></script>

</head>

<body ng-app="weather.app" ng-controller="MainController" ng-class="{true:'need-city', false:'has-city'}[alert.city===undefined]">

    <header>
        <div class="container-fluid">
            <div class="row">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" options="map.options">
                    <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

                    <ui-gmap-marker ng-repeat="marker in map.markers" coords="marker.coords" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row" ng-if="alert.city === undefined">
            <div class="col-md-12 text-center choose-text">
                <div class="alert alert-warning" role="alert">
                    <span class="fa fa-exclamation-triangle"></span> Choose location based on search, click or your actual 
                    <a class="btn btn-default" href="" ng-click="checkUserPosition()"><span class="fa fa-location-arrow"></span> position</a>
                </div>
            </div>
        </div>
        <div class="row" ng-if="alert.city !== undefined">
            <form ng-submit="submitAlert()">
                <div class="col-md-3 data-grid location-grid">
                    <h2><a class="btn btn-default" href="" ng-click="checkUserPosition()"><span class="fa fa-location-arrow"></span></a>Location</h2>
                    <p>City: {{alert.city ? alert.city : 'unkown'}}</p>
                </div>
                <div class="col-md-3 data-grid user-grid">

                    <h2>Your email address</h2>

                    <div class="input-group col-md-12">
                        <span class="input-group-addon" id="sizing-addon1">@</span>
                        <input type="email" name="email" autocomplete="off" ng-model="alert.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-required="true" class="form-control" aria-describedby="sizing-addon1" placeholder="Your email address">
                    </div>

                </div>
                <div class="col-md-3 data-grid value-grid">
                    <h2>Temperature limit</h2>
                    <div class="input-group col-md-12">
                        <span class="input-group-addon" id="sizing-addon2">°C</span>
                        <input type="number" name="email" autocomplete="off" ng-model="alert.temperature" ng-pattern="/^-|[0-9]+$/" ng-required="true" class="form-control" aria-describedby="sizing-addon2" placeholder="Temperature limit">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="data-grid submit-grid">
                        <div class="alert alert-success" ng-if="config.saved" role="alert">Saved !</div>
                        <input ng-if="!config.saved" type="submit" ng-value="alert.id!==undefined ? 'Update' : 'Save'" class="btn form-control" ng-class="{true:'btn-warning', false:'btn-success'}[alert.id!==undefined]">
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <div class="row download-div col-md-12 col-sm-12 col-xs-12 col-lg-12">
            To better experience, download our <a href="binary/weather-app.apk"> Android apk</a>.
        </div>
    </div>



    <footer></footer>
</body>

</html>
