<div>
    <div class="modal-header">
        <h3 class="modal-title">This operation will update your previous alert.</h3>
    </div>
    <div class="modal-body">
        {{ alert.city }}
        <br/> {{ alert.email }}
        <br/> {{ oldTemperature }} -> {{ alert.temperature }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Update</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
